<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:contex="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        https://www.springframework.org/schema/util/spring-util.xsd">

    <!-- путь к нашим знач properties-->
    <contex:property-placeholder location="classpath:musicPlayer.properties"/>
    <context:component-scan base-package="ru.example.springLearn"/>

    <bean id="musicPlayerTask"
          class="ru.example.springLearn.MusicPlayerTask">
        <property name="musicList">
            <list>
                <ref bean="musicBeanClassic"/> <!--add in list beans-->
                <ref bean="musicBeanRock"/>
                <ref bean="musicBeanTrance"/>
            </list>
        </property>
    </bean>


    <bean id="testBean"
          class="ru.example.springLearn.TestBean">
        <constructor-arg value="Alex-AGD"/>
    </bean>

<!--    <bean id="musicBeanClassic"
          class="ru.example.springLearn.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">  &lt;!&ndash;new obj from method&ndash;&gt;
    </bean>                      &lt;!&ndash;start and destroy Spring app&ndash;&gt;-->

<!--    <bean id="musicBeanRock"
          class="ru.example.springLearn.RockMusic">
    </bean>-->

<!--    <bean id="musicBeanTrance"
          class="ru.example.springLearn.TranceMusic">
    </bean>-->


    <bean id="musicPlayerClassic"
          class="ru.example.springLearn.MusicPlayer"
          scope="prototype">                             <!--default scope singleton-->
        <constructor-arg ref="musicBeanClassic"/>  <!--<ссылка на бин musicBeanClassic (dependency);-->
    </bean>

    <bean id="musicPlayerRock"
          class="ru.example.springLearn.MusicPlayer">
        <constructor-arg ref="musicBeanRock"/>  <!--<ссылка на бин musicBeanRock (dependency);-->
    </bean>


    <bean id="musicPlayerClassicSetter"
          class="ru.example.springLearn.MusicPlayer">
        <property name="music" ref="musicBeanClassic"/>  <!--default scope singleton-->
        <property name="name" value="Some name"/>
        <property name="volume" value="50"/>
    </bean>

    <bean id="musicPlayerClassicSetterFromProperties"
          class="ru.example.springLearn.MusicPlayer">
        <property name="music" ref="musicBeanRock"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>


</beans>